body {
  background-color: rgb(56, 52, 52);
  color: rgb(136, 136, 136);
}

* {
  color: white;
}

#submitRelevance {
  position: fixed;
  top: 50px;
  left: 15vw;
  font-size: 20px;
  background-color: green;
  padding: 10px;
  cursor: pointer;
  border-radius: 1em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#myInput {
  color: black;
}

#submitRelevance:after {
  content: "";
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

#submitRelevance:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.top {
  position: sticky;
  top: 10px;
  z-index: 100;
  background-color: rgb(45, 39, 39);
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 1em;
  padding: 10px;
  top: 0;
  padding-bottom: 20px;
}

div.searchbar {
  position: relative;
  padding-left: 0;
}
div.searchbar input {
  padding-right: 70px;
  overflow-y: auto;
}
div.searchbar img {
  position: absolute;
  top: 0;
  right: 20px;
}

.rsForm {
  border-radius: 2em;
  border: 1px solid wheat;
  padding: 10px;
}

a:visited div {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.form-check-label {
  padding: 10px;
  background-color: rosybrown;
  padding-left: 30px;
}

.form-check {
  text-align: center;
}

.title,
.body,
.author {
  width: 100%;
}

.title {
  font-size: 30px;
}

.body {
  font-size: 15px;
}

.author {
  font-size: 12px;
  text-align: right;
}

#pagination {
  padding: 10px;
  margin: 10px auto;
  width: 100%;
 
  font-size: 25px;
  /* border: 1px solid brown;
  border-radius: 1em;
  cursor: pointer;
  background-color: cadetblue; */
}

#pagination {
  display: flex;
  justify-content: space-evenly;
}

#pagination a {
  /* color: black; */
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#pagination a:active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
