{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{% static "ir/img/logo.png" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "ir/css/style.css" %}">
    <title>Searching</title>
</head>

<body>
    <div class="container pt-5 top">
        <div id="submitRelevance" onclick="submitRe()">Submit relevance</div>
        <h1 class="text-center mb-3">Information Retrieval</h1>
        <div class="container-fluid searchbar">
            <!-- <i> <img src="{% static "ir/img/logo.png" %}" alt="" width=40 srcset=""> </i> -->
            <i onclick="clickSearch()">
                <a href="javascript:void(0)">
                    <img src="https://img.icons8.com/nolan/64/search.png" alt="searchIcon" width=40 srcset="">
                </a>
            </i>
            <input class="form-control" id="myInput" type="text" onkeydown="hitEnter(this)" placeholder="Search ...">
        </div>
    </div>
    <div class="container" id="result">

    </div>
    <div class="container" class="pagination" id="pagination">
        <a href="javascript:void(0)" onclick="pre()">&laquo;</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="1">1</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="2">2</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="3">3</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="4">4</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="5">5</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="6">6</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="7">7</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="8">8</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="9">9</a>
        <a href="javascript:void(0)" onclick="pagi(this)" id="10">10</a>
        <a href="javascript:void(0)" onclick="next()">&raquo;</a>
    </div>
    <script>
        // a1 = document.getElementById("1")
        // a1 = document.getElementById("2")
        // a1 = document.getElementById("3")
        // a1 = document.getElementById("4")
        // a1 = document.getElementById("5")
        // a1 = document.getElementById("6")
        // a1 = document.getElementById("7")
        // a1 = document.getElementById("8")
        // a9 = document.getElementById("9")
        // a10 = document.getElementById("10")

        var numShow = 20
        var ketqua = [];
        var clickedPage = []
        result = document.getElementById("result")
        var myQuery = document.getElementById("myInput");
        var submitRelevance = $("#submitRelevance").hide();
        var currentPage;

        $("#pagination").hide()

        function pagi(obj) {
            val = parseInt(obj.innerHTML)
            if (clickedPage.indexOf(val) >= 0) {
               
                $(`.p${currentPage}`).hide()
                $(`.p${val}`).show()
                currentPage = val
                return
            }
            else {
                $(`.p${currentPage}`).hide()

                currentPage = val
                clickedPage.push(val)

                pos = (val - 1) * 20
                for (i = 0; i < numShow; i++) {
                    getData(ketqua[i + pos], val)
                }

            }

        }

        function pre() {
            if (document.getElementById("1").innerHTML == "1")
                return
            for (i = 1; i <= 10; i++) {
                t = document.getElementById(`${i}`)
                t.innerHTML -= 10
            }
        }

        function next() {
            for (i = 1; i <= 10; i++) {
                t = document.getElementById(`${i}`)
                t.innerHTML = parseInt(t.innerHTML) + 10
            }
        }

        function templateDiv(title, body, author, source, pos) {
            return ` 
           <div class="rsForm mt-3 p${pos}" >
                <a href="static/ir/news_dataset/news_dataset/${source}" target="_blank">
                    <div class="title">${title}</div>
                </a>
                <div class="body">${body}</div>
                <div class="author">${author}</div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input checkbox" onclick="checkboxCheck(this)" value="${source}">Relevance?
                </label>
                </div>
            </div>  `
        }

        function getData(source, pos) {
            $.get(`static/ir/news_dataset/news_dataset/${source}`, function (rs) {
                let title = rs.split(/\r|\n/)
                // let body = 
                let author = ""
                let x = rs.split(".")
                let y = ""

                for (let i = x.length - 1; i >= 0; i--) {
                    if (x[i] != "")
                        author = x[i]
                    break;
                }

                for (let i = title.length - 1; i >= 0; i--) {
                    if (title[i] != "") {
                        y = title[i]
                        break;
                    }
                }

                if (author.includes(y)) {
                    author = y
                }

                result.innerHTML += templateDiv(title[0], rs.substr(title[0].length, 500) + "...", author, source, pos)
            })
        }

        function search(query) {
           
            $("#result").html("")
            currentPage = 1
            clickedPage.push(1)

            $.get("ir", { "query": query }, function (results) {
                // results = JSON.parse(results)
                if (results == "No result" || results.length == 0)
                    return alert("No result");
                ketqua = results;


                for (i = 0; i < numShow; i++) {
                    getData(ketqua[i], 1)
                }
                $("#pagination").show()
                $('#submitRelevance').show()
            })
        }

        function clickSearch() {
            search($("#myInput").val())
        }

        function hitEnter(ele) {
            if (event.key === 'Enter') {
                search(ele.value)
            }
        }

        function submitRe() {
            clickedPage = []
            let q = myQuery.value.trim()
            relVals = []
            relChecks = document.getElementsByClassName("checkbox");
            for (i = 0; i < relChecks.length; i++) {
                if (relChecks[i].checked)
                    relVals.push(relChecks[i].value)
            }
            $.get("relevance", { "query": q, "relevance": relVals }, function (e) {
                // if ( e== "ok") {
                // alert("ok")
                // }
            })
        }

        function checkboxCheck(obj) {
            current = obj.getAttribute("checked")
            if (current)
                obj.removeAttribute("checked")
            else
                obj.setAttribute("checked", true)
        }
    </script>
</body>

</html>